Online drugstore system with delivery and sms notification

Maintenance
----------
customer
employee
user account
product
branch


TABLES

Branch
-------
branch_id
name
description
address
image_path
created_at
updated_at
deleted_at



User
------
user_id
branch_id_fk
user_type // 1 for admin/employee, 2 for customer
first_name
middle_name
last_name
date_of_birth
cell_number
created_at
updated_at
deleted_at

Tag
------
tag_id
name
created_at
updated_at
deleted_at

Brand
------
brand_id
name
description
image_path
created_at
updated_at
deleted_at


Product
------
product_id
name
description
image_path
price
created_at
updated_at
deleted_at

ProductPriceHistory
------
product_price_history_id
product_id_fk
price
created_at


ProductTag
------
product_tag_id
product_id_fk
tag_id_fk
created_at
updated_at


ProductInventory
-------
inventory_id
branch_id_fk
user_id_fk
product_id_fk
previous_value
current_value
created_at
updated_at
deleted_at


CustomerSalesInvoice
-------------
customer_sales_invoice_id
branch_id_fk
user_id_fk
remarks
amount_paid
ordered_at

CustomerSalesInvoiceDetail
-------------
customer_sales_invoice_detail_id
customer_sales_invoice_id_fk
product_id_fk
quantity

CustomerSalesDelivery
------------
customer_sales_delivery_id
customer_sales_invoice_id_fk
shipping_address
is_delivered

CustomerSalesDeliveryApproval
-----------
customer_sales_delivery_approval_id
customer_sales_delivery_id_fk
user_id_fk
is_approved
created_at
updated_at

